version: 2


jobs:
  build:
    docker:
      - image: circleci/node:16.14.2
  
    steps:
      
      - run: npm install
      - run: npm test

# Orchestrate our job run sequence
workflows:
  version: 2
  build:
    jobs:
      - build
      
    
